<mat-card>
  <mat-card-content class="app-form">
    <form (ngSubmit)="appForm.valid && onSubmit()" #appForm="ngForm">
      <mat-form-field class="app-form-full-width">
        <mat-label>First Name</mat-label>
        <input matInput
               id="firstName"
               name="firstName"
               type="text"
               [(ngModel)]="model.firstName" #firstName="ngModel" required>
        <mat-error *ngIf="firstName.hasError('required')">
          First name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="app-form-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput
               id="lastName"
               name="lastName"
               placeholder="Last Name"
               type="text"
               [(ngModel)]="model.lastName" #lastName="ngModel" required>
        <mat-error *ngIf="lastName.hasError('required')">
          Last name is required
        </mat-error>
      </mat-form-field>
      <mat-action-row>
        <button style="margin: 20px" mat-raised-button color="primary">Submit</button>
        <button style="margin: 20px" mat-raised-button color="accent" (click)="clear()">Clear</button>
      </mat-action-row>
    </form>
  </mat-card-content>
</mat-card>
