@import "../../styles.scss";

.app-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.app-form-full-width {
  width: 100%;
}

.app-button-row {
  display: table-cell;
}

.app-button-row button {
  display: table-cell;
  margin: 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}

.app-label-margin {
  margin-right: 20px;
}

.app-form-spacer {
  flex: 1 1 auto;
}
