<mat-card>
  <mat-card-content class="app-form">
    <form (ngSubmit)="onSubmit()" [formGroup]="appFormGroup" autocomplete="off" novalidate>
      <div class="app-form-full-width">
        <mat-error>
          {{errorMessage}}
        </mat-error>
      </div>

      <div class="app-form-spacer"></div>

      <mat-form-field class="app-form-full-width">
        <mat-label>First Name</mat-label>
        <input formControlName="firstName"
               id="firstName"
               matInput
               placeholder="First Name" required type="text">
        <mat-hint align="end">Not more then 60 characters long.</mat-hint>
        <mat-error *ngIf="hasError('firstName','required')">
          First name is required
        </mat-error>
        <mat-error *ngIf="hasError('firstName','maxlength')">
          You have entered more than 60 characters
        </mat-error>
      </mat-form-field>

      <div class="app-form-spacer"></div>

      <mat-form-field class="app-form-full-width">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName"
               id="lastName"
               matInput
               placeholder="Last Name"
               required type="text">
        <mat-hint align="end">Not more then 60 characters long.</mat-hint>
        <mat-error *ngIf="hasError('lastName','required')">
          Last name is required
        </mat-error>
        <mat-error *ngIf="hasError('lastName','maxlength')">
          You have entered more than 60 characters
        </mat-error>
      </mat-form-field>

      <div class="app-form-spacer"></div>

      <mat-form-field class="app-form-full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email"
               id="email"
               matInput
               placeholder="Email"
               required type="text">
        <mat-error *ngIf="hasError('email','required')">
          Email is required
        </mat-error>
        <mat-error
          *ngIf="hasError('email','email') || hasError('email','pattern')">
          Email is invalid
        </mat-error>
      </mat-form-field>

      <div class="app-form-spacer"></div>

      <mat-label class="app-label-margin">Gender</mat-label>
      <mat-radio-group class="app-form-full-width" formControlName="gender" id="gender">
        <mat-radio-button value="M">Male</mat-radio-button>
        <mat-radio-button value="F">Female</mat-radio-button>
        <mat-radio-button value="O">Other</mat-radio-button>
      </mat-radio-group>

      <div class="app-form-spacer"></div>

      <mat-form-field class="app-form-full-width">
        <mat-label>Date of birth</mat-label>
        <input (click)="picker.open()"
               [matDatepicker]="picker"
               formControlName="dob"
               id="dob"
               matInput
               placeholder="Date of birth" readonly>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="app-form-spacer"></div>

      <mat-form-field class="app-form-full-width">
        <mat-label>Address</mat-label>
        <input formControlName="address"
               id="address"
               matInput
               placeholder="Address"
               required type="text">
        <mat-error *ngIf="hasError('address','required')">
          Address is required
        </mat-error>
      </mat-form-field>

      <div class="app-form-spacer"></div>

      <mat-form-field class="app-form-full-width">
        <mat-label>Additional notes</mat-label>
        <input formControlName="notes"
               id="notes"
               matInput
               placeholder="Additional notes"
               type="text">
      </mat-form-field>

      <div class="app-button-row">
        <button color="primary" mat-raised-button>Submit</button>
        <button (click)="clear()" color="accent" mat-raised-button>Clear</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
