@import "~src/styles";

.app-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.app-form-full-width {
  width: 100%;
}

.app-button-row {
  display: table-cell;
}

.app-button-row button {
  display: table-cell;
  margin: 20px;
}
